<div class="card">
	<h5 class="card-header">
    	About
  	</h5>
	<div class="card-block">
		<ul>
			<li><b>Actividades:</b></li>
			<ul>
				<li>Registro de usuario</li>
				<ul>
					<li>Registro</li>
					<li>Validacion y restriccion de registro</li>
				</ul>
				<li>Login</li>
				<ul>
					<li>Inicio de sesiòn</li>
					<li>Cierre de sesiòn</li>
				</ul>

				<li>Dash General</li>
				<ul>
					<li>Cards de puntos</li>
					<li>Compartir puntos</li>
					<li>Editar puntos</li>
					<li>Eliminar puntos</li>
					<li>Seleccionar punto favorito y votaciòn</li>
				</ul>
				<li>Crud de puntos</li>
				<ul>
					<li>Registro de punto</li>
					<li>Verificacion de punto existente</li>
					<li>Implementaciòn de mapa (ng-mapa)</li>
					<li>Ubicaciòn de punto en el mapa (marcador)</li>
				</ul>
				<li>Gestion de favoritos</li>
			</ul>
			<li><b>Tecnologias :</b> Principales</li>
			<ul>
				<li><a href="http://www.mongoosejs.com" target="_blank"><b>M</b>ongoose.js</a> (<a href="https://www.mongodb.com" target="_blank">MongoDB</a>)</li>
				<li><a href="http://www.expressjs.com" target="_blank"><b>E</b>xpress.js</a></li>
				<li><a href="https://www.angular.io" target="_blank"><b>A</b>ngular 2</a></li>
				<li><a href="https://www.nodejs.org" target="_blank"><b>N</b>ode.js</a></li>
			</ul>
			<li><b>Otras tecnologias usadas:</b></li>
			<ul>
				<li><a href="http://www.getbootstrap.com" target="_blank">Bootstrap</a></li>
				<li><a href="http://www.fontawesome.io" target="_blank">Font Awesome</a></li>
			</ul>
		</ul>
	</div>
</div>